
/* all-font for wedsite */
.all-font {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} 
/* .all-font {
    font-family: "Fira Sans", serif;
} */
/* share style */
.bg-colour-poster{
    background-color: #F5F5F5;
}
.font-colour-black{
    background-color: #0E0E0E;
}
/* nav style */
.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 24px 160px;
}
.nav-header{
    font-size: 32px bold bold;
}
nav button{
     background-color: transparent;
     padding: 15px 30px;
     weight: 116px;
     height: 52px;
     gap: 48px;
     border: 1px solid #006A50;
     border-radius: 10px;
    
}
nav a{
    text-decoration: none;
    color: #006A50;
}
