
/* all font */
.all-font {
    font-family: "Fira Sans", serif;
}

/* shared styles */
.bg-color{
    background-color: #C6E4D6;
}
.font-color-black{
    color: #0E0E0E;
}

.bg-color-white{
    background-color: #FFFFFF;
}

.bg-color-grey{
    background-color: #F1F1F3;
}

.section-description{
    font-size: 16px;
    font-weight: regular;
    line-height: 24px;
    color:#0E0E0E; 
}

.section-title{
    font-size: 40px;
    font-weight: bold;
    line-height: auto;
}

/* nav styles */
.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 24px 160px;
}
.nav-header{
    font-size: 32px;
    font-weight: bold;
    line-height: auto;
    }
nav button{
    width: 116px;
    height: 52px;
    border: 1px solid #006A50;
    border-radius: 8px;
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
    line-height: auto;
}

nav a{
    text-decoration: none;
    color: #006A50;
}

/* hero styles */

.hero{
    padding: 0px 160px;
   
}

.hero-container{
    
    height: 560px;
    border-radius: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero  p{
    color: #0E0E0E;
    font-size: 24px;
    font-weight: medium;
    line-height: auto;
}

.hero h1{
    font-size: 56px;
    font-weight: bold;
    line-height: auto;
    width: 622px;
}

.hero a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: semi-bold;
    line-height: auto;
}

.hero  button{
    border-radius: 8px;
    background-color: #006A50;
    padding: 17px 34px;
    margin-top: 24px;
    border: none;
}

/* pillars design */

.pillars{
    padding: 80px 160px;
}

.pillars-title-container{
    margin-bottom: 32px;
}


.pillars-container{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.pillars-card{
    border-radius: 16px;
    background-color: #FFFFFF;
    padding: 24px;
}

.pillars-card-description{
    margin: 24px;
}

.pillars img{
    margin-left: 24px;
    margin-top: 24px;
}

.pillars h6{
    font-size: 20px;
    font-weight: bold;
    line-height: auto;
    color: #0E0E0E;
}

.pillars p{
    
    margin-top: 12px;
}

/* vision styles  */

.vision{
    padding: 0px 160px;
}

.vision>div>div>p{
    margin-top: 24px;
    margin-bottom: 32px;
}
.vision-card-container{
    display: flex;
    justify-content: space-between;
    gap: 24px; 
}

.vision-card1{
    border-radius: 16px;
    background-color: rgba(84, 144, 245, 0.2);
}

.vision-card2{
    border-radius: 16px;
    background-color: rgba(198, 228, 214, 1);
    box-shadow: 0px 4px 4px #0E0E0E;
}

.vision-card3{
    border-radius: 16px;
    background-color: rgba(247, 235, 207, 1);
}


.vision-card-container img{ 
    margin-top: 32px;
    margin-left: 32px;
}

.vision-card-container h6{
    font-size: 20px;
    font-weight: bold;
    line-height: auto;
    color: #0E0E0E;
    margin-left: 32px;
    margin-top: 24px;
}

.vision-card-container p{
    margin-left: 32px;
    margin-top: 12px;
    width: 400px;;
}

.vision button{
    margin-left: 32px;
    margin-top: 24px;
    margin-bottom: 32px;
    border-radius: 8px;
    padding: 11px 20px;
    border: none;
}

.vision a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: semi-bold;
    line-height: auto;
}
.vision-card1 button{
    background-color: #5490F5;
}
.vision-card2 button{
    background-color: #09A15C;
}
.vision-card3 button{
    background-color: #FFC239;
}
.yunus-section{
    border-radius: 16px;
    padding: 48px 24px;
    margin-top: 32px;
}

.yonus-description{
    font-size: 16px;
    font-weight: regular;
    line-height: 24px;
    color:#0E0E0E;
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
}

.yonus-designation strong{
    font-size: 20px;
    font-weight: semi-bold;
    line-height: 24px;
    color: #0E0E0E;
}
.yonus-designation{
    font-size: 16px;
    font-weight: regular;
    line-height: 24px;
    color:#0E0E0E;
}

/* news styles */
.news{
    padding: 80px 160px;
}

.news-section p{
    margin-top: 24px;
    margin-bottom: 32px;
}

.news-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.news-card1, .news-card2{
    padding: 48px;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
.news-card1 img, .news-card2 img{
    border-radius: 24px;
}

.news-content h3{
    font-size: 32px;
    font-weight: bold;
    line-height: auto;
    color: #0E0E0E;
}

.news-content img{
    margin-top: 12px;
    margin-bottom: 12px;
}

.news-content span{
    margin-right: 12px;
    font-size: 16px;
    font-weight: regular;
    line-height: 24px;
    color: #0E0E0E;
}

.news-content button{
    padding: 13px 26px;
    border-radius: 8px;
    background-color: #006A50;
    border: none;
    margin-top: 32px;
}

.news-content a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: semi-bold;
    line-height: auto;
}

.news-content button:hover{
    background-color: grey;
}
.donate{
    padding: 0px 160px  80px 160px;
    text-align: center;
}

.donate  p{
    margin-top: 24px;
    margin-bottom: 32px;
}

.donate-container{
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}
.card-taka{
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #0E0E0E;
    background-color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
    line-height: auto;
    color: #0E0E0E;
    cursor: pointer;
}

.card-taka:hover{
    background-color: #C6E4D6;
}

.donate input{
    padding: 20px 40px;
    border: none;
    margin: 32px auto;
    width: 70%;
    text-align: center;
}

.donate input::placeholder{
    color:#0E0E0E;
    font-size: 20px;
    font-weight: regular;
    line-height: auto;
}

.donate button{
    padding: 17px 34px;
    border-radius: 8px;
    background-color: #006A50;
    border: 1px solid #0E0E0E;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    line-height: auto;
    cursor: pointer;
}

.donate button:hover{
    background-color: grey;
}
.subscribe{
    margin: 0px 160px 80px 160px;
    text-align: center;
    background-color: #C6E4D6;
    padding: 80px 100px;
    border-radius: 24px;
}

.subscribe h2{
    margin-bottom: 16px;
}

.subscribe p{
    margin-bottom: 24px;
}

.subscribe button{
    padding: 17px 34px;
    border-radius: 0px 8px 8px 0px;
    background-color: #006A50;
    border: none;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
    line-height: auto;
    cursor: pointer;
}

.subscribe button:hover{
    background-color: grey;
}

.subscribe input{
    margin-bottom: 24px;
    padding: 18px 40px;
    border: none;
    width: 50%;
    border-radius: 8px 0px 0px 8px;
}